{% extends 'core_base.html' %} {% block middle %}
<div class="">
    {% if detail_blog %}

    <div class="">
        {{ detail_blog.title }}
        <div class="">
            <a href="{% url 'blog:updateblog' detail_blog.pk %}">Update Blog</a>
            <a href="{% url 'blog:deleteblogview' detail_blog.pk %}">Delet Blog</a>

        </div>{{ detail_blog.user }} {% if detail_blog.image %}
        <img src="{{ detail_blog.image.url }}" alt=""> {% endif %}{{ detail_blog.containt }}
    </div>
    {% endif %}
</div>
{% endblock %}