{% extends 'core_base.html' %} {% load static %}{% block title %} {% block script %}
<link rel="stylesheet" href="{% static 'blog/css/blog_home.css' %}" type="text/css"> {% endblock %}
<title>Home</title>{% endblock %} {% block left %}
<div class="">
    <a href="{% url 'blog:listblog' %}">All Blog</a>
</div>
{% endblock %} {% block middle %}
<div class="">
    {% if object_blog %} {% for blog in object_blog %}
    <div class="">
        <div class="">
            {{ blog }}
        </div>
        <div class="">
            {{ blog.user }}
        </div>
        {% if blog.image %}
        <div class="">
            <img src="{{blog.image.url}}" alt="">
        </div>{% endif %}
        <div class="">
            {{ blog.containt }}
        </div>
    </div>
    <hr> {% endfor %}{% endif %}

</div>

{% endblock %}{% block right %}
<div class="right_menu">
    <a href="{% url 'blog:createblog' %}">Create Blog</a>
    <a href="">Create Update</a>
    <a href="#">Create Delete</a>

</div>
{% endblock %}